/* General Variables */
:root {
  --background: #ffffff;  /* Light theme background */
  --text-color: #000000;  /* Light theme text color */
  --border-color: rgba(128, 128, 128, 0.5); /* Light theme border color */
  --highlight-color: #000000; /* Light theme heading line color */
  --dropdown-background: #ffffff; /* Light theme dropdown background */
  --dropdown-text: #000000; /* Light theme dropdown text color */
  --placeholder-color: rgba(0, 0, 0, 0.5); /* Light theme placeholder color */
}

body.dark-mode {
  --background: #333333;  /* Dark theme background */
  --text-color: #ffffff;  /* Dark theme text color */
  --border-color: rgba(128, 128, 128, 0.7); /* Dark theme border color */
  --highlight-color: #ffffff; /* Dark theme heading line color */
  --dropdown-background: #333333; /* Dark theme dropdown background */
  --dropdown-text: #ffffff; /* Dark theme dropdown text color */
  --placeholder-color: rgba(255, 255, 255, 0.5); /* Dark theme placeholder color */
}

.input-flex {
  position: static;
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  border: 0.5px solid rgba(128, 128, 128, 0.504);
  gap: 0.5rem;
  padding: 0rem 0.5rem;
  margin: 1rem 0.2rem;
  height: 2rem;
  background-color: var(--background);
}

.input-flex input {
  width: 90%;
  padding: 0.22rem 0.2rem;
  margin: 1rem 0.3rem;
  border: none;
  background-color: var(--background);
}

.input-flex img {
  width: 1.5rem;
  padding: 0.3rem;
  border: 0;
}

.input-flex input:focus {
  outline: none;
}

.select-input {
  margin: 1rem 0.25rem;
  position: relative;
  max-width: 20%;
  }

.sorts {
  display: flex;
  align-items: center;
  margin: 0.25rem;
  margin-bottom: 2rem;
  justify-content: space-around;
  
}

.heading {
  display: flex;
  justify-content: center;
  font-size: medium;
  color: black;
  font-weight: bolder;
}

.btn-blue {
  background-color: var(--theme);
  color: #fff;
}

.btn-blue:hover {
  background-color: #fff !important;
  color: var(--theme) !important;
  transition: all 0.3s;
}

.input-radio {
  margin-left: 1rem; 

}

.csv-buttons {
  display: flex;
  gap: 2rem; /* Adjust gap between buttons */
  margin-left: 1rem; /* Align buttons in one line with the rest of the elements */
}

/* Customize Select Component */
.ant-select {
  background: var(--background) !important;
  color: var(--text-color) !important;
}

.ant-select-selector {
  background: var(--background) !important;
  color: var(--text-color) !important;
}

.ant-select-arrow {
  color: var(--text-color) !important;
}

.ant-select-dropdown {
  background: var(--dropdown-background) !important;
  border-color: var(--border-color) !important;
}

.ant-select-item {
  color: var(--dropdown-text) !important;
}

.ant-select-selection-placeholder {
  color: var(--placeholder-color) !important;
}

.ant-select-item-option-active, .ant-select-item-option-selected {
  background: var(--highlight-color) !important;
  color: var(--background) !important;
}

/* Customize Radio Button */
.ant-radio-button-wrapper {
  background: var(--background) !important;
  border-color: var(--border-color) !important;
  color: var(--text-color) !important;
}

.ant-radio-button-wrapper-checked {
  background: var(--highlight-color) !important;
  border-color: var(--highlight-color) !important;
  color: var(--background) !important;
}

.ant-radio-button-wrapper-checked:hover {
  background: var(--highlight-color) !important;
  border-color: var(--highlight-color) !important;
  color: var(--background) !important;
}
