.no-transactions-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh; /* Full height of the viewport */
  background-color: white; /* Light background color */
}

.typewriter {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5rem; /* Reduced size */
  color: #333; /* Text color */
  white-space: nowrap;
  overflow: hidden;
  border-right: 0.15em solid black; /* Cursor effect */
  animation: typing 3.5s steps(40, end) infinite, blink-caret 0.75s step-end infinite;
}

/* Typing effect */
@keyframes typing {
  0% { width: 0; }
  100% { width: 100%; }
}

/* Cursor blink effect */
@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: orange; }
}
